{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="page-description">
    <h3 style="color:white">Login</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p class="label label-info text-center" id="status">Not connected</p>
            <br /><br /><br />
            <form action="/App/ProcessStuff" method="post">
                <span id="qrcodeCanvas"></span>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{{/*<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
    data-amount="999"
    data-name="Stripe.com"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>*/}}

{{template "footer.html" .}}
