{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="page-description">
    <h3 style="color:white">Login</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
        {{template "flash.html" .}}
            <br /><br /><br />
            <form id="eeze-form" action="/App/ProcessDidAuth" method="post">
                <script id="eeze" src="https://eeze.io/public/js/eeze.js" data-key="8f8715e0-9392-490c-a6e5-d8beba7b7a1e"></script>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

{{template "footer.html" .}}
