{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="page-description">
    <h3 style="color:white">Login</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        {{template "flash.html" .}}
            <p class="label label-info text-center" id="status">Not connected</p>
            <br /><br /><br />
            <div>
                <form action="/App/ProcessDidAuth" method="post">
                    <input type="hidden" id="token" name="token" value=""/>
                    <span id="qrcodeCanvas"></span>
                    <span id="responseMessage"></span>
                    <span id="spinner" hidden><img src="/public/img/spinner.gif" /></span>
                    <button type="submit" id="submit" name="submit" hidden></button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

{{template "footer.html" .}}
